body{
    margin: 0;
    padding: 0;
}

body .texto {
    background-color:black;
   color: blanchedalmond;
    
}

body .imagem{
    display: flex;
    flex-direction: column;
}
body .imagem img{
    width: 150px;
    height: 150px;
}
.titulo{
    color:#000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: blueviolet;
}
